$table-header: #1976D2;
$table-header-border: #1565C0;
$table-border: #d9d9d9;
$row-bg: #f4f2f1;

.table-container {
  display: grid;
  margin: 32px auto;
  width: 90%;
  max-width: 100%;
}

.flex-table {
  display: flex;
  flex-flow: nowrap ;
  border-left: solid 1px $table-border;
  &:first-of-type .flex-row {
    background: $table-header;
    color: white;
    border-color: $table-header-border;
  }
}

.flex-row {
  width: 100%;
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px $table-border;
  border-bottom: solid 1px $table-border;
}







